/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END RESET */



.prints {
	width:150px;
	height:600px;
	overflow:hidden;
	text-align:center;
}

.current {
	display:table-cell;
	opacity:.5;

}

#feed {
	margin-left:3%;
}
.prints:hover {
	width:auto;
}



.prints:hover .prints {
	width:20%;
	overflow:hidden;
}

.current:hover {
	opacity:.99;
	overflow:visible;
	z-index:10;
	
}

header {
display: block;
position: fixed;
width: 100%;
height: 10%;
text-align: center;
z-index: 15;
color: rgba(255, 255, 255, 0.81);
}
h1 a{
	font-size:2em;
	background:url(Images/LOGO.png) no-repeat center; 
    text-indent:-9999px;
	position:fixed;
	display: block;
	width: 100%;
	height: 20%;
	padding-bottom:1%;
	/*padding-bottom: 1%;*/
	z-index: 10;
	/*-webkit-transform: rotate(-90deg);*/

}

#cart {
position: fixed;
display: block;
width:100%;
height:1%;
text-align: right;
z-index: 25;
cursor:pointer;
}




footer p {
	font-size:1em;
}

nav {
	padding-top:3%;
	display:table;
}

body {
	background-color:rgba(0, 0, 0, 0.81);
	text-align:center;
	color: black;
	font-family: 'Alegreya Sans SC', sans-serif;
}

footer {
	clear:both;
	text-align: left;
	width: 100%;
	color:white;

}

footer p {
	padding-top:2%;
	padding-left:3%;
}

.detail{
	width:70%;
}

nav ul {
	display:table-row;

}

.buttons {
	float:left;
	width:100%;
}

.overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:white;
  opacity:0.7;
  display:none;

}

.details {
position: fixed;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
margin: auto;
width: 60%;
height: 70%;
border-radius: 10px;
display: none;

}

#detail-title {
font-size: 3em;
color: black;
text-align:left;
}

#detail-image {
  float:left;
  background-color:#CCC;
  height:80%;

}

#detail-description{
  width:45%;
  padding-top:40px;
  padding-left:20px;
}

#detail-price {
font-size: 2em;
font-weight: bold;
padding-top: 5%;
padding-bottom: 5%;
text-align: left;
margin-left: 40%;

}

#detail-options {
  text-align:right;
  text-align: left;
  margin-left: 40%;
}

select {
	border-radius: 1%;
border: none;
background-color: rgb(125, 210, 243);
}

option {
border-radius: 1%;
border: none;
background-color: rgb(125, 210, 243);
}

#add-to-cart {
border-radius: 1%;
border: none;
background-color: rgb(125, 210, 243);
}

@media screen and (max-width:#) {
    body { }
  }


