/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END RESET */

body {
	position:relative;
	background-color:rgb(233, 0, 121);
	font-family:Univers;
	color:black;
}

.clock {
	display: block;
height: 600px;
width: 600px;
background-color: black;
position: relative;
top: 50px;
left: 300px;
border-radius: 50% 50% 50% 50%;
margin-bottom: 50px;
}

.inner-circle {
display: block;
background-color: rgb(233, 0, 121);
position: relative;
height: 400px;
width: 400px;
border-radius: 50%;
top: 80px;
left: 100px;

}

.minute-hand {
	display: block;
height: 10px;
width: 150px;
position: relative;
background-color: black;
top: 200px;
left: 50px;
}

.center {
	display: block;
position: relative;
background-color: black;
height: 25px;
width: 25px;
top: 180px;
left: 180px;
border-radius: 50%;
}

.hour-hand {
	display: block;
height: 100px;
width: 10px;
position: relative;
background-color: black;
top: 75px;
left: 190px;
}

.i {
position: absolute;
left: 290px;
top: 40px;
display: block;
font-size: 3em;
}

.ii {
position: absolute;
left: 330px;
top: 100px;
display: block;
font-size: 3em;	
}

.iii {
	position: absolute;
left: 350px;
top: 175px;
display: block;
font-size: 3em;
}

.iv {
	position: absolute;
left: 325px;
top: 265px;
display: block;
font-size: 3em;
}

.v {
	position: absolute;
left: 265px;
top: 330px;
display: block;
font-size: 3em;
}

.vi {
position: absolute;
left: 175px;
top: 350px;
display: block;
font-size: 3em;
}

.vii {
	position: absolute;
left: 85px;
top: 325px;
display: block;
font-size: 3em;
}

.viii {
	position: absolute;
left: 25px;
top: 255px;
display: block;
font-size: 3em;
}

.ix {
	position: absolute;
left: 5px;
top: 180px;
display: block;
font-size: 3em;
}

.x {
	position: absolute;
left: 30px;
top: 105px;
display: block;
font-size: 3em;
}

.xi {
	position: absolute;
left: 90px;
top: 40px;
display: block;
font-size: 3em;
}

.xii {
	position: absolute;
left: 165px;
top: 10px;
display: block;
font-size: 3em;
}