

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------END RESET-----START BELOW---------------*/
@-webkit-keyframes flutter {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
      
    }
    50% {  
    opacity:1;
      
    }
    
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
@-webkit-keyframes flutterr {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
     }
    50% {  
   opacity:1;
      
    }
    
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
@-webkit-keyframes flutterrr {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
      
    }
    50% {  
    opacity:1;
      
    }
    
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
@-webkit-keyframes flutterrrr {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
      
    }
    50% {  
    opacity:1;
      
    }
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
@-webkit-keyframes flutterrrrr {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
      
    }
    50% {  
    opacity:1;
      
    }
    
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
body {
	background-color:white;
	font-family:sans-serif;
	color:white;
	text-align:center;
}

.overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:black;
  z-index:-5;

}

.details {
position: fixed;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
margin: auto;
width: 50%;
height: 70%;
border-radius: 10px;
display: none;

}

h1 {
	text-indent: -9999px;
}

#full-title {
	margin-top:5%;

}

#abandoned {
	padding-left:20px;
	-webkit-animation: flutter 10s linear .2s infinite;
}

#boston {
	padding-left:20px;
	-webkit-animation: flutterr 10s linear .2s infinite;

}

#eight {
	-webkit-animation: flutterrr 10s linear .2s infinite;
}

#in {
	-webkit-animation: flutterrrr 10s linear .2s infinite;
}

#buildings {
	-webkit-animation: flutterrrrr 10s linear .2s infinite;
}

#explore-button {
margin-top:50px;
width: 100px;
display: block;
text-align: center;
margin-left: 45%;
margin-right: 45%;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 20%;
padding-top: 2%;
padding-bottom: 2%;
}

#explore-button p {
text-transform: uppercase;
color:black;
opacity:.6;
padding-top: 2%;
padding-bottom: 2%;
}

#explore-button:hover p{
	color:white;
}

#explore-button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

#background-image {
	position:fixed;
  	bottom:0px;
 	left:0px;
  	width:100%;
  	z-index:-10;

}

.small-word {
	height:10%;
	z-index:-8;
	text-align:center;
}

#half-title {
	position:fixed;
	display: none;
	width:100%;
	height:90%;
	margin-top: -5%;
	margin-left: 2%;
}

#eight-small {
height: 15%;
}
#abandoned-small {
height: 20%;
}
#buildings-small {
height: 20%;
}
#in-small {
top: 8%;

}
#boston-small {
height: 10%;

}

#windows {
position: relative;
margin-top: 30%;
display: none;
height: 250px;
z-index: -8;
}

.window {
	display:block;
	width: 2.5%;
	height: 3.5%;
	background-color:black;
	position:fixed;
}

.window:hover .current{
	background-color:red;
}

#highland {
top: 71%;
left: 6%;
-webkit-transform: skew(-15deg);
-moz-transform: skew(-15deg);
-o-transform: skew(-15deg);
}

#eblana {
top: 71.5%;
left: 27.8%;
-webkit-transform: skew(-7deg);
-moz-transform: skew(-7deg);
-o-transform: skew(-7deg);
}

#christian {
top: 83.5%;
left: 27%;
-webkit-transform: skew(-7deg);
-moz-transform: skew(-7deg);
-o-transform: skew(-7deg);
}

#alphonsus {
top: 83%;
left: 4.3%;
-webkit-transform: skew(-15deg);
-moz-transform: skew(-15deg);
-o-transform: skew(-15deg);
}

#convent {
top: 71.25%;
left: 66.25%;
-webkit-transform: skew(8deg);
-moz-transform: skew(8deg);
-o-transform: skew(8deg);
}
#pontiac {
top: 71.25%;
left: 84.75%;
-webkit-transform: skew(10deg);
-moz-transform: skew(10deg);
-o-transform: skew(10deg);
}
#furniture {
top: 87.5%;
left: 67%;
-webkit-transform: skew(8deg);
-moz-transform: skew(8deg);
-o-transform: skew(8deg);
}
#broadway {
top: 87.25%;
left: 86.5%;
-webkit-transform: skew(10deg);
-moz-transform: skew(10deg);
-o-transform: skew(10deg);
}

.overlay-2 {
	background-color:black;

}