

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------END RESET-----START BELOW---------------*/
@-webkit-keyframes flutter {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
      
    }
    50% {  
    opacity:1;
      
    }
    
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
@-webkit-keyframes flutterr {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
     }
    50% {  
   opacity:1;
      
    }
    
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
@-webkit-keyframes flutterrr {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
      
    }
    50% {  
    opacity:1;
      
    }
    
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
@-webkit-keyframes flutterrrr {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
      
    }
    50% {  
    opacity:1;
      
    }
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
@-webkit-keyframes flutterrrrr {
   0% { 
      -webkit-transform: translate(0,0);
      opacity:.2;

    }
    33% {  
       
      -webkit-transform: translate(0,-25px);
      
    }
    50% {  
    opacity:1;
      
    }
    
    66% {  
       
      -webkit-transform: translate(0,25px);
      
    }
     100% {  
       
      -webkit-transform: translate(0,0);
      opacity:.2;
      
    }
}
body {
	background-color:black;
	font-family:sans-serif;
	color:white;
	text-align:center;
}

.overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:black;
  opacity:0.7;
  z-index:-5;

}

.details {
position: fixed;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
margin: auto;
width: 50%;
height: 70%;
border-radius: 10px;
display: none;

}

h1 {
	text-indent: -9999px;
}

#full-title {
	margin-top:5%;

}

#abandoned {
	padding-left:20px;
	-webkit-animation: flutter 10s linear .2s infinite;
}

#boston {
	padding-left:20px;
	-webkit-animation: flutterr 10s linear .2s infinite;

}

#eight {
	-webkit-animation: flutterrr 10s linear .2s infinite;
}

#in {
	-webkit-animation: flutterrrr 10s linear .2s infinite;
}

#buildings {
	-webkit-animation: flutterrrrr 10s linear .2s infinite;
}

#explore-button {
margin-top:50px;
width: 100px;
display: block;
text-align: center;
margin-left: 45%;
margin-right: 45%;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 10px;
padding-top: 5px;
padding-bottom: 5px;
}

#explore-button p {
text-transform: uppercase;
color:black;
opacity:.6;
padding-top: 5px;
padding-bottom: 5px
}

#explore-button:hover p{
	color:white;
}

#explore-button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}